@import url("https://fonts.googleapis.com/css?family=Creepster");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
