<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Merge TailwindCSS into Flask app</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.7/dist/tailwind.min.css" rel="stylesheet">
    <style>
        /* Aggiunta di regole CSS custom per animazioni, ombre e sfondi trasparenti */
    @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.fade-in {
    animation: fadeIn 1s ease-in-out;
}
</style>
</head>


<body class="min-h-screen bg-gray-900 text-white py-6 flex flex-col justify-center sm:py-12 fade-in">
<div class="relative py-3 sm:max-w-xl sm:mx-auto">
<div class="relative px-4 py-10 bg-gray-700 mx-8 md:mx-0 shadow rounded-3xl sm:p-10">
    <div class="max-w-md mx-auto">
            <div class="max-w-md mx-auto">
                <div class="flex items-center space-x-5">
                    <div
                        class="h-14 w-14 bg-blue-500 rounded-full flex flex-shrink-0 justify-center items-center text-white text-2xl font-mono">
                        F</div>
                    <div class="block pl-2 font-semibold text-xl self-start text-white">
                        <h2 class="leading-relaxed">Registrazione al gioco</h2>
                        <p class="text-sm text-white font-normal leading-relaxed">Inserisci i tuoi dati per la
                            registrazione.</p>
                    </div>
                </div>
                <form action="/register" method="post">
                    <div class="divide-y divide-gray-200">
                        <div class="py-8 text-base leading-6 space-y-4 text-white sm:text-lg sm:leading-7">
                            <div class="flex flex-col"><label class="leading-loose">User Name</label><input type="text"
                                    name="username" class="p-4 border-2 border-gray-500 rounded-lg" placeholder="Name">
                                    {% if error.username %}
                                    <p class="error text-red-500 text-xs italic">{{ error.username }}</p>
                                    {% endif %}
                            </div>
                            <div class="flex flex-col"><label class="leading-loose">Password</label><input
                                    type="password" name="password" class="p-4 border-2 border-gray-500 rounded-lg"
                                    placeholder="Password"></div>
                                {% if error.password %}
                                <p class="error text-red-500 text-xs italic">{{ error.password }}</p>
                                {% endif %}
                            <div class="flex flex-col"><label class="leading-loose">Conferma Password</label><input
                                    type="password" name="confirm-password"
                                    class="p-4 border-2 border-gray-500 rounded-lg" placeholder="Conferma Password">
                            </div>
                        </div>
                        <div class="pt-4 flex items-center space-x-4"><button
                                class="flex justify-center items-center w-full text-white px-4 py-3 rounded-md focus:outline-none bg-blue-500">Register</button><a
                                class="flex justify-center items-center w-full text-white px-4 py-3 rounded-md focus:outline-none bg-blue-500"
                                href="/login">Login</a></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

<script>
    // Check if an error exists
    var errorElement = document.getElementById('error');
    if (errorElement) {
        // Start a timer to hide the error after 10 seconds
        setTimeout(function() {
            errorElement.style.display = 'none';
        }, 10000);  // 10000 milliseconds equals 10 seconds
    }
</script>
</html>